---
import Map from "../components/Map.astro";
import Chart from "../components/Chart.astro";

const knessetYears = [
	1992,
	1996,
	1999,
	2003,
	2006,
	2009,
	2013,
	2015,
	"Apr 2019",
	"Sep 2019",
	2020,
	2021,
	2022,
];

const optionsHtml = knessetYears
	.map((year, i) => {
		const knessetNumber = i + 13;
		return `<option value="${knessetNumber}">${knessetNumber}th Knesset (${year})</option>`;
	})
	.join("");

const dropdownHtml = `<label for="json-selector" class="sr-only">Select Knesset Election</label><select id="json-selector" class="p-2 fixed bottom-[calc(4rem+300px)] left-1/2 transform -translate-x-1/2 z-10" onchange="window.loadNewData()">${optionsHtml}</select>`;
---

<html>
	<head>
		<title>Israeli Elections Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Israeli Knesset Elections 1992-2022 Mapped"
		/>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
			rel="stylesheet"
		/>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="geocoder" class="geocoder fixed top-4 left-4 z-10"></div>

		<Fragment set:html={dropdownHtml} />
		<canvas
			id="chart"
			class="bg-white max-h-[300px] max-w-[500px] rounded border shadow p-4 z-10 fixed bottom-10 left-1/2 transform -translate-x-1/2"
		></canvas>

		<script>
			declare global {
				interface Window {
					updateChartData: (data: any) => void;
					loadNewData: () => void;
				}
			}
		</script>
		<Map />
		<Chart />
	</body>
</html>
