---
import Map from "../components/Map.astro";
import Chart from "../components/Chart.astro";

const knessetYears = [
	1992,
	1996,
	1999,
	2003,
	2006,
	2009,
	2013,
	2015,
	"Apr 2019",
	"Sep 2019",
	2020,
	2021,
	2022,
];

const optionsHtml = knessetYears
	.map((year, i) => {
		const knessetNumber = i + 13;
		return `<option value="${knessetNumber}">${knessetNumber}th Knesset (${year})</option>`;
	})
	.join("");

const dropdownHtml = `<select id="json-selector" class="p-2" onchange="window.loadNewData()">${optionsHtml}</select>`;
---

<html>
	<head>
		<!-- CSS and Font Links -->
		<link
			href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
			rel="stylesheet"
		/>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="geocoder" class="geocoder fixed top-4 left-4 z-10"></div>
		<div
			id="chart-container"
			class="fixed bottom-10 left-0 w-full max-h-[300px] z-10 flex justify-center items-center flex-col"
		>
			<div id="dropdown-container" class="mb-4">
				<Fragment set:html={dropdownHtml} />
			</div>
			<canvas id="chart" class="bg-white rounded border shadow p-4"
			></canvas>
		</div>

		<script>
			declare global {
				interface Window {
					updateChartData: (data: any) => void;
					loadNewData: () => void;
				}
			}
		</script>
		<Map />
		<Chart />
	</body>
</html>
